@import url("whitespace-reset.css");


* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
 main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}


/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

/* * * * * * * * * * * */
/*      header          */
/* * * * * * * * * * * */
body {
  font-size: 1em;
  background-image: url("../images/plane-view-img.jpg");
  background-position: 0px -200px; 
  text-align: center; 
}

body header {
  display: block;
  position: relative;
  text-align: center;
  height: 50px;
  background-color: #ffffff;
}

body header nav {
  width: 50%;
  display: inline-block;
  text-align: center;
  float: right;
  margin-top: 5px;
}

body header nav .ul-header {
  width: 80%;
  display: inline-block;
  float: none;
  padding: 5px; 
}


body header nav ul li {
  width: 24%;
  display: inline-block;
  text-align: center;
}

body header nav ul li a {
  font: normal 1.2em 'Merriweather', serif;
  color: #ffffff;
  text-decoration: none;
}

body header .h1-wrapper {
  display: inline-block;
  margin-right: 10%;
  text-align: center;
}

body header h1 {
  color: #000000;
  font: italic 1.8em 'Merriweather', serif;
  padding: 5px; 
}
/* * * * * * * * * * * * * * * * * * * */
/*      css hover effect for nav bar   */
/* * * * * * * * * * * * * * * * * * * */
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: rgb(255, 255, 255);
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/* ========================== */


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
		width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
		width: 50%;
  }

  /* 12 columns */
  .col-12 {
  }
}
