/* @import url("whitespace-reset.css"); */


* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 1em;
  height: 100%;
}

.body-stop-scroll {
  height: 100%;
  overflow: hidden;
}
/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
 main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  text-align: center;
  padding-top: 30px;
}

.row {
  /* max-width: 1000px; */
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}


/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

/* * * * * * * * * * * */
/*      header          */
/* * * * * * * * * * * */
body {
  font-size: 1em;
  background-image: url("../images/plane-view-img.jpg");
  background-position: 0px -200px; 
  text-align: center; 
}

body header {
  display: block;
  position: relative;
  text-align: center;
  height: 50px;
  background-color: #ffffff;
}

body header nav {
  width: 50%;
  display: initial;
  float: right;
  /* position: fixed;
  height: 65px;
  z-index: 1; */
}

body header nav .ul-header {
  width: 80%;
  display: inline-block;
  float: none;
}

body header nav ul li {
  width: 24%;
  height: 50px;
  display: inline-block;
  margin-left: 0px;
  padding-top: 14px;
}

body header nav ul li a {
  vertical-align: middle;
  display: inline-block;
  font: normal 1.4em 'Merriweather', serif;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  letter-spacing: 1px;
}

body header nav ul li a:hover {
  color: #979797;
}

body header nav ul li a {
  -webkit-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  -o-transition: color 0.4s ease-out;
  -ms-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}

body header .h1-wrapper {
  /* display: inline-block; */
  text-align: center;
  float: left;
  width: 50%;
  /* position: fixed;
  height: 65px;
  z-index: 1; */
}

.header-wrapper {
  padding-right: 0px;
  position: fixed;
  height: 65px;
  z-index: 1;
}

body header h1 {
  color: #ffffff;
  font: normal 2.1em 'Patua One', serif;
  font-weight: 600;
  padding-top: 5px; 
  margin-left: 15px; 
  letter-spacing: 3px;
}

/* .hamburger {
  position: absolute;
  top: 25%;
  height: 40px;
  right: 20px;
  width: 45px;
  border-radius: 5px;
  vertical-align: center;
  float: right;
  outline: none;
}

.hamburger .hamburger-line {
  width: 39px;
  height: 4px;
  background-color: black;
  margin: 0px auto 7px auto;
} */


/* * * * * * * * * * * */
/*      hamburger      */
/* * * * * * * * * * * */
.hamburger {
  position: absolute;
  top: 33%;
  outline: none;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #3ba4ff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

  .hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger--spin .hamburger-inner::before {
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
    .hamburger--spin .hamburger-inner::after {
      transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  
  .hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .hamburger--spin.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.16s ease-out, opacity 0.1s 0.16s ease-out; }
    .hamburger--spin.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }


/* * * * * * * * * * * */
/*      side-bar       */
/* * * * * * * * * * * */
.side-menu-nav {
  display: none;
  width: 77%;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #1a1919;
  color: #ffffff; 
  z-index: 1;
}

.show-side-bar {
  display: block;
}

.side-menu-nav p {
  margin-top: 20px;
  font: normal 1em Raleway, sans-serif;
}

.center-side-bar {
  position: fixed;
}


.side-menu-nav p span {
  margin-right: 5px;
}

.side-menu-nav ul {
  margin-top: 25px;
}

.side-menu-nav ul li {
  margin-top: 20px;
  width: 100%;
}

.side-menu-nav ul li:active {
  background: #585858;
}

.side-menu-nav ul li a {
  color: #ffffff; 
  background: none;
  text-decoration: none;
  outline: none;
  font: normal 1.3em 'Merriweather', serif;
}

.side-menu-nav ul li a:hover {
  cursor: pointer;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
		width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
		width: 50%;
  }

  /* 12 columns */
  .col-12 {
  }
}
