@import url("whitespace-reset.css");

body {
  background-image: none;
}

body header {
  background-image: url("../images/airport6.jpg");
  background-position: 50% 80%; 
  background-size: 100%;
  height: 700px;
}

header .background-wrapper {
  background-color: rgba(0,0,0,0.6);
  height: 700px;
  padding: 0px;
}

.link-for-h1 {
  text-decoration: none;
}

.header-scroll {
  background-color: #ffffff;
}

body .header-wrapper {
  display: block;
  text-align: center;
  height: 50px;
  padding-left: 0px;
  padding-right: 0px;
}

.inner-h1-wrapper {
  width: 80%;
}

.fa-plane {
  vertical-align: middle;
}

.container-for-header-text {
  text-align: center;
}

.header-text-wrapper {
  margin: 25% auto 0 auto;
  width: 80%;
  float: none;
}

.container-for-header-text p {
  margin-top: 15%;
  font: normal 1.2em sans-serif;
  color: #ffffff;
}

.container-for-header-text h2 {
  font: normal 2.4em 'Merriweather', serif;
  color: #ffffff;
}
/* * * * * * * * * * * */
/*      modal          */
/* * * * * * * * * * * */

/* Modal (background) */

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.3);
}

.modal-content {
  position: absolute;
  left: 30%;
  /* top: -100px; */
  background-color: #ffffff;
  margin:  10% auto 0 auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 40%; 
  border-radius: 5px;
  box-shadow: 5px 10px 18px #1d1d20;
}

.modal-form input {
  width: 60%;
}

.modal .heading-wrapper {
  text-align: center;
  margin-bottom: 25px;
}

.modal h2 {
  font: normal 1.5em 'Raleway', sans-serif;
  color: #414141;
}

.modal h4 {
  padding-top: 10px;
  font: normal 1.2em 'Quicksand', sans-serif;
}

.modal h6 {
  padding-top: 10px;
  font: normal 1.1em 'Fire-sans', sans-serif;
  text-decoration: underline;
}

.modal h6:hover {
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #888888;
  float: right;
  font-size: 2.2em;
  font-weight: bold;
  padding: 0px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.sign-up-btn {
  background-color: #fdcc52;
  font: normal 1.4em 'Merriweather', serif;
  color: #222020;
  border: none;
  outline: none;
  width: 12%;
  display: inline-block;
  height: 48px;
  margin-top: 40px;
  border-radius: 25px;
  /* box-shadow: 6px 5px 10px #484848; */
}

 .sign-up-btn:hover {
  cursor: pointer;
  background-color: #d4a429;
} 

.sign-up-btn {
  -webkit-transition: background-color 0.7s ease-out;
  -moz-transition: background-color 0.7s ease-out;
  -o-transition: background-color 0.7s ease-out;
  -ms-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}

.arrows {
	width: 60px;
  height: 72px;
  position: absolute;
  left: 48.5%;
  bottom: 25%;
}

.arrows path {
	stroke: #F2E6C6;
	fill: transparent;
	stroke-width: 1.5px;	
}

/* * * * * * * * * * * */
/*       Body          */
/* * * * * * * * * * * */
main .h2-wrapper {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 80px;
}

main {
  padding-top: 0px;
  width: 100%;
  background-color: #f5f5f5;
  /* background-color: #fdcc52; */
  padding-left: 0px;
  padding-right: 0px; 
}

/* * * * * * * * * * * */
/*       About         */
/* * * * * * * * * * * */

.about-section {
  height: 550px;
  margin-bottom: 80px;
}

.about-img {
  width: 90%;
}

.fa-clock-o, .fa-user, .fa-envelope, .fa-tasks {
  color: #2576AC;
  width: 20px;
  height: 65px;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 3em;
}

.fa-clock-o, .fa-user {
  margin-left: 3px;
  margin-right: 20px;
}

.fa-envelope, .fa-tasks {
  margin-right: 33px;
}

.description-1, .description-2  {
  margin-top: 40px;
}

.description-2  {
  text-align: left;
}

.description-1 {
  text-align: right;
}

.description-1 p, .description-2 p {
  font: normal 1em  'Roboto', sans-serif;
  color: #6a6a6a;
  display: inline-block;
  width: 200px;
} 

body main h2 {
  font: normal 2.2em 'Merriweather', serif;
  color: #484646;
}

.sign-up-heading-wrapper h2 {
  width: 25%;
  margin: 40px auto 0 auto;
  padding-right: 10px; 
}

body main .description-header {
  font: normal 1.5em 'Josefin Sans', sans-serif;
  color: #169ece;
}
.text-2 {
  margin-top: 60px;
}

.description-img  {
  text-align: center;
}

.line-wrapper {
  margin-bottom: 10px;
}

.line-1 {
  width: 80%;
  margin: 0 auto;
  height: 1px;
  background: #e0e0e0;
}

.line-2 {
  width: 80%;
  margin: 0 auto;
  height: 1px;
  background: #b8b8b8;
}

/* * * * * * * * * * * */
/*       cards         */
/* * * * * * * * * * * */
.cards {
  background-color: #262328;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231a191c' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  display: inline-block;
  height: 700px;
}

.container-for-card {
  height: 450px;
}

.img-box  { 
  transition: all .4s ease-in-out; 
}

.img-box:hover { 
  transform: scale(1.1); 
}
 .cards h2 {
  color: #ffffff;
} 

.img-box {
  width: 100%;
  padding: 0px;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 14px 19px 29px #0b0b0b;
 }
 
 img {
   width: 100%;
   height: 300px;
   border-radius: 3px;
 }

 .cards-text {
  font: normal 1.4em 'Fredoka One', cursive;
  color: rgb(90, 99, 114);
 }

 .text-wrapper {
   text-align: center;
   height: 80px;
 }

 .text-wrapper p {
  font: normal 1em 'Roboto', sans-serif;
  color: #414141;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
 }

 /* * * * * * * * * * * */
/*       illustration   */
/* * * * * * * * * * * */
.illustration {
  background: #ffffff;
  height: 600px;
}

.illustration  .h2-wrapper {
  padding-bottom: 40px;
}

.illustration-wrapper {
  margin-bottom: 220px; 
}

.illustration .box {
  border: 1px solid rgb(211, 211, 211);
  border-radius: 2px;
  width: 80%;
  margin: auto;
  padding-top: 5px;
}

.step-icon {
  width: 15%;
  height: 10%;
  /* margin-bottom: 35px;  */
}

.illustration h3 {
  font: bold 1.4em 'Poppins', sans-serif;
  color: rgb(90, 99, 114);
  margin-top: 20px;  
  margin-bottom: 25px;  
}

.illustration hr {
  margin: -5px auto 0 auto;
  background: rgb(126, 121, 121);
  border-radius: 25px;
}

.box p {
  font: normal 1em/170% 'Roboto', sans-serif;
  color: rgb(109, 103, 103);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
}

.box p span {
  color: rgb(189, 0, 195);
}

 /* * * * * * * * * * * */
/*       review         */
/* * * * * * * * * * * */
.reviews-wrapper {
  width: 60%;
  display: inline-block;
  margin: -90px auto 69px auto;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(211, 211, 211);
  border-radius: 3px;
  box-shadow: 2px 2px 12px #707070;
}

.review {
  width: 100%;
  text-align: initial;
  position: relative;
}

.review img {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

.review p {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
  padding-top: 5px;
  font: italic 1em/170% 'Roboto', sans-serif;
  color: rgb(109, 103, 103);
}

.review span {
  font: normal 1.1em/170% 'Roboto', sans-serif;
  color: #505050;
  position: absolute;
  left: 12%;
  top: 18%;
}

.fa-star-wrapper {
  position: absolute;
  left: 12%;
  top: 34%;
  color: #424242;
}

.fa-quote-left, .fa-quote-right {
  font-size: 15px;
}

/* * * * * * * * * * * */
/*       Sign Up        */
/* * * * * * * * * * * */
.sign-up-heading-wrapper {
  text-align: center;
  margin-bottom: 35px;
}

.sign-up-section, .sign-in-section {
  padding-bottom: 80px;
  position: relative;
  background: #f5f5f5;
}

.sign-in-section {
  background: #ffffff;   
}

.sign-up-wrapper, .sign-in-wrapper  {
  margin-top: 10px;
  text-align: center;
}

.log-in-section {
  margin: 0 auto;
  width: 50%;
}

body .register {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 10px;
}

body form fieldset {
  width: 100%;
}

body form input {
  font-family: "Times New Roman";
  color: #2f2e2e;
  width: 50%;
  border: 2px solid #d8d8d8;
  border-left: none;
  border-top: none;
  border-right: none;
  padding: 2px 0;
  font-size: 1.2em;
  background-color: transparent;
  margin-bottom: 20px;
  margin-top: 5px;
  text-align: left;
  outline: none;
}

.cont-for-input-label {
  width: 50%;
  text-align: left;
  margin: 0 auto;
  font-family: "Times New Roman";
  color: #515151;
  font-size: 1em;
}

.cont-for-invalid-message, .cont-for-invalid-message-login {
  display: none;
  background: #fcc;
  color: #f00;
  width: 25%;
  text-align: left;
  margin: 0 auto;
  font-family: "Times New Roman";
  margin-top: 15px;
  padding: 6px 8px;
  border-radius: 3px;
}

.cont-for-invalid-message-login {
  width: 100%;
}

body form input:focus {
  border-bottom: 2px solid #0088ff;
}

body form button, body .go-to-login-button {
  width: 50%;
  height: 43px;
  color: #ffffff;
  background: #0088ff;
  margin-top: 25px;
  font-size: 1.4em;
  border: none;
  border-radius: 3px;
}

body form button:hover, body .go-to-login-button:hover {
  background: #006bc8;
}

body form button, body .go-to-login-button {
  -webkit-transition: background-color 0.7s ease-out;
    -moz-transition: background-color 0.7s ease-out;
    -o-transition: background-color 0.7s ease-out;
    -ms-transition: background-color 0.7s ease-out;
    transition: background-color 0.7s ease-out;
}

.go-to-login-section {
  display: none;
  text-align: center;
  /* height: 100px; */
}

.heading-for-trips-login {
  display: none;
}

.go-to-login-wrapper {
  width: 40%;
  margin: 0 auto;
}

body .go-to-login-button {
  height: 35px;
}

hr {
  width: 30%;
  height: 2px;
  background: #a19f9f;
}
/* * * * * * * * * * * */
/*       footer        */
/* * * * * * * * * * * */
.footer {
  height: 50px;
  background: #222020;
}

/* * * * * * * * * * * * * */
/* general Media Queries   */
/* * * * * * * * * * * * * */
@media screen and (max-width: 320px) {
  body header nav {
    display: none;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  body header nav {
    display: none;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  body header nav {
    display: none;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  body header button.hamburger {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body header button.hamburger {
    display: none;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  body header button.hamburger {
    display: none;
  }

  body header nav {
    display: initial;
    float: right;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {
  body header button.hamburger {
    display: none;
  }
}

/* * * * * * * * * * * * * */
/* specific Media Queries  */
/* * * * * * * * * * * * * */
@media only screen and (max-width: 1024px) {
  .nav-bar {
    display: none;
  }
}
