@import url("whitespace-reset.css");

* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/

 /* * * * * * * * * * * */
/*      Grid css       */
/* * * * * * * * * * * */
main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}


/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
		width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
		width: 50%;
  }

  /* 12 columns */
  .col-12 {
  }
}


/* * * * * * * * * * * */
/*      header css     */
/* * * * * * * * * * * */
 main {
  padding-top: 10px;
}

header {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  height: 700px;
  background-image: url("../images/airport1.jpg");
  background-position: center;
  background-size: 100%;
}

body header .header-wrapper {
  background-color: rgba(0,0,0,0.6);
  height: 700px;
}

body header .navbar {
  display: inline-block;
  text-align: center;
  float: right;
}

body header nav .ul-header {
  width: 80%;
  display: inline-block;
  float: none;
}

nav ul li {
  width: 24%;
  display: inline-block;
  text-align: center;
}

nav ul li a {
  font-size: 1.4em;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #222020;
}

h1 {
  color: #ffffff;
  font-size: 1.6em;
}

.h1-wrapper {
  display: inline-block;
  margin-right: 10%;
  text-align: center;
}

.header-text-wrapper {
  margin: 12% auto 0 auto;
  float: none;
}

.container-for-header-text {
  text-align: center;
}

.container-for-header-text h2 {
  font: normal 2.2em sans-serif;
  color: #ffffff;
}

.container-for-header-text p {
  margin-top: 15%;
  font: normal 1.2em sans-serif;
  color: #ffffff;
}

.sign-up-btn {
  background: #fdcc52;
  font: normal 1.5em sans-serif;
  color: #222020;
  border: none;
  outline: none;
  width: 22%;
  display: inline-block;
  height: 48px;
  margin-top: 15px;
  border-radius: 25px;
  /* box-shadow: 6px 5px 10px #484848; */
}

.sign-up-btn:hover {
  cursor: pointer;
  background: #e6b949;
}

/* * * * * * * * * * * */
/*       Body          */
/* * * * * * * * * * * */
h2 {
  font-size: 30px;
}

.h2-wrapper {
  text-align: center;
  margin-bottom: 10px;
}


/* * * * * * * * * * * */
/*       About         */
/* * * * * * * * * * * */

main {
  background-color: #ffffff;
  /* background-color: #fdcc52; */
}

main h2 {
  color: #212529;
}

.about-img {
  width: 90%;
}

.fa-clock-o {
  color: #2576AC;
  width: 20px;
  height: 50px;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 3em;
  margin-right: 25px;
}
.description p {
  font: normal 1em sans-serif;
  display: inline-block;
  width: 200px;
} 
