@import url("whitespace-reset.css");


* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
 main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}


/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

/* * * * * * * * * * * * * * * * * * * */
/*      css hover effect for nav bar   */
/* * * * * * * * * * * * * * * * * * * */
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: rgb(255, 255, 255);
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
/* ========================== */


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
		width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
		width: 50%;
  }

  /* 12 columns */
  .col-12 {
  }
}

/* * * * * * * * * * * */
/*      header css     */
/* * * * * * * * * * * */
header {
  display: block;
  position: relative;
  text-align: center;
  height: 700px;
  background-image: url("../images/airport1.jpg");
  background-position: 50% 80%; 
  background-size: 100%;
}

body header .header-wrapper {
  background-color: rgba(0,0,0,0.6);
  height: 700px;
}

body header .navbar {
  display: inline-block;
  text-align: center;
  float: right;
  margin-top: 5px;
}

body header nav .ul-header {
  width: 80%;
  display: inline-block;
  float: none;
  padding: 5px;
}

nav ul li {
  width: 24%;
  display: inline-block;
  text-align: center;
}

nav ul li a {
  font: normal 1.2em 'Merriweather', serif;
  color: #ffffff;
  text-decoration: none;
}

/* * * * * * * * * * * */
/*      modal          */
/* * * * * * * * * * * */

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: absolute;
  left: 30%;
  top: -100px;
  background-color: #f5f5f5;
  margin:  5% auto 0 auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 40%; 
}

.modal-form input {
  width: 60%;
}

.modal .heading-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

.modal h2 {
  font: normal 1.8em 'Fire-sans', sans-serif;
}

.modal h4 {
  padding-top: 10px;
  font: normal 1.2em 'Quicksand', sans-serif;
}

.modal h6 {
  padding-top: 10px;
  font: normal 1.1em 'Fire-sans', sans-serif;
  text-decoration: underline;
}

.modal h6:hover {
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 0px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  color: #ffffff;
  font: italic 1.8em 'Merriweather', serif;
  padding: 5px;
}

.h1-wrapper {
  display: inline-block;
  margin-right: 10%;
  text-align: center;
}

.header-text-wrapper {
  margin: 15% auto 0 auto;
  width: 80%;
  float: none;
}

.container-for-header-text {
  text-align: center;
}

.container-for-header-text h2 {
  font: italic 3em 'Merriweather', serif;
  color: #ffffff;
}

.container-for-header-text p {
  margin-top: 15%;
  font: normal 1.2em sans-serif;
  color: #ffffff;
}

.sign-up-btn {
  background: #fdcc52;
  font: normal 1.5em sans-serif;
  color: #222020;
  border: none;
  outline: none;
  width: 12%;
  display: inline-block;
  height: 48px;
  margin-top: 40px;
  border-radius: 25px;
  /* box-shadow: 6px 5px 10px #484848; */
}

.sign-up-btn:hover {
  cursor: pointer;
  background: #e6b949;
}

.arrows {
	width: 60px;
  height: 72px;
  position: absolute;
  left: 48.5%;
  bottom: 25%;
}

.arrows path {
	stroke: #F2E6C6;
	fill: transparent;
	stroke-width: 1.5px;	
}

/* * * * * * * * * * * */
/*       Body          */
/* * * * * * * * * * * */
.h2-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

main {
  padding-top: 0px;
  width: 100%;
  background-color: #f5f5f5;
  /* background-color: #fdcc52; */
  padding-left: 0px;
  padding-right: 0px; 
}

/* * * * * * * * * * * */
/*       About         */
/* * * * * * * * * * * */

.about-section {
  height: 500px;
}

.about-img {
  width: 90%;
}

.fa-clock-o, .fa-user, .fa-envelope, .fa-tasks {
  color: #2576AC;
  width: 20px;
  height: 65px;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 3em;
}

.fa-clock-o, .fa-user {
  margin-left: 3px;
  margin-right: 20px;
}

.fa-envelope, .fa-tasks {
  margin-right: 33px;
}

.description-1, .description-2  {
  margin-top: 40px;
}

.description-1 {
  text-align: right;
}

.description-1 p, .description-2 p {
  font: normal 1em  'Roboto', sans-serif;
  color: #6a6a6a;
  display: inline-block;
  width: 200px;
} 

body main h2 {
  font: normal 2.5em 'Roboto', sans-serif;
  color: #303030;
  padding: 15px;  
}

body main .description-header {
  font: normal 1.5em 'Josefin Sans', sans-serif;
  color: #169ece;
}
.text-2 {
  margin-top: 60px;
}

.description-img  {
  text-align: center;
}

/* * * * * * * * * * * */
/*       Sign Up        */
/* * * * * * * * * * * */

.sign-up-heading-wrapper {
  text-align: center;
}

.sign-up-section {
  background: #f5f5f5;
}

.sign-up-wrapper  {
  margin-bottom: 50px;
  text-align: center;
}

body .register {
  /* padding-top: 20px; */
  margin: 0 auto;
  width: 50%;
}

body form fieldset {
  width: 100%;
}

body form input {
  font-family: 'Raleway', sans-serif;
  color: #2f2e2e;
  width: 50%;
  border: 2px solid #d8d8d8;
  border-left: none;
  border-top: none;
  border-right: none;
  padding: 2px 0;
  font-size: 1.4em;
  background-color: transparent;
  margin-bottom: 20px;
  margin-top: 15px;
  text-align: center;
  outline: none;
}

body form input:focus {
  border-bottom: 2px solid #0088ff;
}

body form button {
  width: 50%;
  height: 43px;
  color: #ffffff;
  background: #0088ff;
  margin-top: 15px;
  font-size: 1.4em;
  border: none;
}

/* * * * * * * * * * * * * */
/* general Media Queries   */
/* * * * * * * * * * * * * */
@media screen and (max-width: 320px) {

}

@media screen and (min-width: 321px) and (max-width: 375px) {

}

@media screen and (min-width: 376px) and (max-width: 425px) {

}

@media screen and (min-width: 426px) and (max-width: 768px) {

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  
}

@media screen and (min-width: 1440px) and (max-width: 1600px) {

}

/* * * * * * * * * * * * * */
/* specific Media Queries  */
/* * * * * * * * * * * * * */
@media only screen and (max-width: 1024px) {
  .nav-bar {
    display: none;
  }
}
