@import url("whitespace-reset.css");

* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/

 /* * * * * * * * * * * */
/*      Grid css       */
/* * * * * * * * * * * */
main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}


/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
		width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
		width: 50%;
  }

  /* 12 columns */
  .col-12 {
  }
}


/* * * * * * * * * * * */
/*      header css     */
/* * * * * * * * * * * */

header {
  display: block;
  position: relative;
  text-align: center;
  height: 700px;
  background-image: url("../images/airport1.jpg");
  background-position: 50% 80%; 
  background-size: 100%;
}

body header .header-wrapper {
  background-color: rgba(0,0,0,0.6);
  height: 700px;
}

body header .navbar {
  display: inline-block;
  text-align: center;
  float: right;
  margin-top: 5px;
}

body header nav .ul-header {
  width: 80%;
  display: inline-block;
  float: none;
}

nav ul li {
  width: 24%;
  display: inline-block;
  text-align: center;
}

nav ul li a {
  font: normal 1.2em 'Merriweather', serif;
  color: #ffffff;
  text-decoration: none;
}

/* * * * * * * * * * * * * * * * * * * */
/*      css hover effect for nav bar   */
/* * * * * * * * * * * * * * * * * * * */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: rgb(236, 236, 236);
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
/* ========================== */

h1 {
  color: #ffffff;
  font: italic 1.8em 'Merriweather', serif;
}

.h1-wrapper {
  display: inline-block;
  margin-right: 10%;
  text-align: center;
}

.header-text-wrapper {
  margin: 15% auto 0 auto;
  width: 80%;
  float: none;
}

.container-for-header-text {
  text-align: center;
}

.container-for-header-text h2 {
  font: italic 3em 'Merriweather', serif;
  color: #ffffff;
}

.container-for-header-text p {
  margin-top: 15%;
  font: normal 1.2em sans-serif;
  color: #ffffff;
}

.sign-up-btn {
  background: #fdcc52;
  font: normal 1.5em sans-serif;
  color: #222020;
  border: none;
  outline: none;
  width: 12%;
  display: inline-block;
  height: 48px;
  margin-top: 40px;
  border-radius: 25px;
  /* box-shadow: 6px 5px 10px #484848; */
}

.sign-up-btn:hover {
  cursor: pointer;
  background: #e6b949;
}

.arrows {
	width: 60px;
  height: 72px;
  position: absolute;
  left: 48.5%;
  bottom: 25%;
}

.arrows path {
	stroke: #F2E6C6;
	fill: transparent;
	stroke-width: 1.5px;	
}

/* * * * * * * * * * * */
/*       Body          */
/* * * * * * * * * * * */
h2 {
  font-size: 30px;
}

.h2-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

main {
  width: 100%;
  background-color: #f5f5f5;
  /* background-color: #fdcc52; */
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  
}

/* * * * * * * * * * * */
/*       About         */
/* * * * * * * * * * * */

.about-section {
  height: 500px;
}

.about-img {
  width: 90%;
}

.fa-clock-o, .fa-user, .fa-envelope, .fa-tasks {
  color: #2576AC;
  width: 20px;
  height: 65px;
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 3em;
}

.fa-clock-o, .fa-user {
  margin-left: 3px;
  margin-right: 20px;
}

.fa-envelope, .fa-tasks {
  margin-right: 33px;
}

.description-1, .description-2  {
  margin-top: 40px;
}

.description-1 {
  text-align: right;
}

.description-1 p, .description-2 p {
  font: normal 1em  'Roboto', sans-serif;
  color: #6a6a6a;
  display: inline-block;
  width: 200px;
} 

.h2-wrapper {
  margin-top: 10px;
  margin-bottom: 30px;
}

body main h2 {
  font: italic 3em 'Josefin Sans', sans-serif;
  color: #303030;
}

body main .description-header {
  font: normal 1.5em 'Josefin Sans', sans-serif;
  color: #169ece;
}
.text-2 {
  margin-top: 60px;
}

.description-img  {
  text-align: center;
}

/* * * * * * * * * * * */
/*       Sign Up        */
/* * * * * * * * * * * */
.sign-up-section {
  height: 500px;
  background-color: #d4d3d3;
  padding: 0px; 
}

/* * * * * * * * * * * */
/*  Sign up animation  */
/* * * * * * * * * * * */
/* *,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #c1bdba;
  font-family: "Titillium Web", sans-serif;
} */

main .sign-up-section a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

main .sign-up-section a:hover {
  color: #179b77;
}

body main .sign-up-section .form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
          box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

body main .sign-up-section .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
body main .sign-up-section .tab-group:after {
  content: "";
  display: table;
  clear: both;
}
body main .sign-up-section .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
body main .sign-up-section .tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
body main .sign-up-section .tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

body main .sign-up-section .tab-content > div:last-child {
  display: none;
}

body main .sign-up-section h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

body main .sign-up-section label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

body main .sign-up-section input,
body main .sign-up-section textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color 0.25s ease, -webkit-box-shadow 0.25s ease;
  transition: border-color 0.25s ease, -webkit-box-shadow 0.25s ease;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
  transition: border-color 0.25s ease, box-shadow 0.25s ease, -webkit-box-shadow 0.25s ease;
}
body main .sign-up-section input:focus,
body main .sign-up-section textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

body main .sign-up-section .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

body main .sign-up-section .button:hover, 
body main .sign-up-section .button:focus {
  background: #179b77;
}

body main .sign-up-section .button-block {
  display: block;
  width: 100%;
}

body main .sign-up-section .forgot {
  margin-top: -20px;
  text-align: right;
}




