@import url("whitespace-reset.css");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(93, 88, 88);
  font-size: 1em;
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
 main {
  padding-top: 100px;
}

header {
  display: block;
  position: relative;
  text-align: center;
  background-size: cover; 
  height: 700px;
  background-color: #2475AC;
  /* background-color: #7b4397; */
}

body header .navbar {
  display: inline-block;
  text-align: center;
  float: right;
}

body header nav .ul-header {
  width: 80%;
  display: inline-block;
  float: none;
}

nav ul li {
  width: 24%;
  display: inline-block;
  text-align: center;
}

nav ul li a {
  font-size: 1.4em;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #222020;
}

h1 {
  color: #ffffff;
  font-size: 1.6em;
}

.h1-wrapper {
  display: inline-block;
  margin-right: 10%;
  text-align: center;
}

body header .container-for-img {
  display: block;
  position: absolute;
  bottom: 100px;
  left: 0;
  text-align: center;
}

body header .phones-img-wrapper {
  display: inline-block;
  float: right;
}

.phones-img-wrapper img {
  width: 70%;
  height: auto;
}
/* * * * * * * * * * * */
/*       Body          */
/* * * * * * * * * * * */
h2 {
  font-size: 30px;
}

.h2-wrapper {
  text-align: center;
  margin-bottom: 10px;
}


/* * * * * * * * * * * */
/*       About         */
/* * * * * * * * * * * */

main {
  background-color: #ffffff;
  /* background-color: #fdcc52; */
}

.description-img {
  text-align: center;
} 

.about-img {
  width: 60%;
}

.description p {
  font: normal 16px sans-serif;
} 

/* * * * * * * * * * * */
/*      Grid css       */
/* * * * * * * * * * * */
main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}


/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
		width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
		width: 50%;
  }

  /* 12 columns */
  .col-12 {
  }
}
