@import url("whitespace-reset.css");

* {
  box-sizing: border-box;
}

body {
	background-color: #22659c;
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
 /* * * * * * * * * * * */
/*      grid css        */
/* * * * * * * * * * * */
main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}


/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
		width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
		width: 50%;
  }

  /* 12 columns */
  .col-12 {
  }
}

 /* * * * * * * * * * * */
/*      header          */
/* * * * * * * * * * * */
body {
  font-size: 1em;
  background-image: url("../images/plane-view-img.jpg");
  background-position: 50% 80%; 
  background-size: cover;
}

header {
  display: block;
  position: relative;
  text-align: center;
  height: 50px;
  background-color: rgba(0,0,0,0.6);
}

body header .navbar {
  display: inline-block;
  text-align: center;
  float: right;
  margin-top: 5px;
}

body header nav .ul-header {
  width: 80%;
  display: inline-block;
  float: none;
}

nav ul li {
  width: 24%;
  display: inline-block;
  text-align: center;
}

nav ul li a {
  font: normal 1.2em 'Merriweather', serif;
  color: #ffffff;
  text-decoration: none;
}

.h1-wrapper {
  display: inline-block;
  margin-right: 10%;
  text-align: center;
}

h1 {
    color: #ffffff;
    font: italic 1.8em 'Merriweather', serif;
}
/* * * * * * * * * * * * * * * * * * * */
/*      css hover effect for nav bar   */
/* * * * * * * * * * * * * * * * * * * */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: rgb(236, 236, 236);
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, 
.hvr-underline-from-left:active:before {
  right: 0;
}
/* ========================== */


/* ========================== */

 /* * * * * * * * * * * */
/*      main            */
/* * * * * * * * * * * */
 main {
  padding-top: 100px;
}

.h2-wrapper, .h3-wrapper  {
  text-align: center; 
}

h2 {
  font: bold 1.2em 'Merriweather', serif;
}

.h3-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font: bold 1em 'Merriweather', serif;
  text-decoration: underline;
}
/* * * * * * * * * * * */
/*      form styles    */
/* * * * * * * * * * * */
.form-box {
  background: #f5f5f5;
  width: 60%;
  height: 650px;
  margin: 0 auto;
}

body form {
  margin: 0 auto;
  width: 50%;
}

body form fieldset {
  width: 100%;
}

body form input {
  font: normal 1.2em 'Raleway', sans-serif;
  color: #020202;
  width: 80%;
  border: 1px solid #d8d8d8;
  padding: 2px 0;
  background-color: transparent;
  margin-bottom: 20px;
  margin-top: 5px;
  text-align: center;
  outline: none;
  overflow-x: scroll;
}

body form .airline, body form .confirmation {
  width: 50%;
}

body form ::-webkit-input-placeholde {
  font: normal 1.2em 'Raleway', sans-serif;
  color: #6b6b6b;
}

body form input:focus {
  border-bottom: 2px solid #0088ff;
}

body form button {
  width: 25%;
  height: 43px;
  color: #ffffff;
  background: #e28714;
  margin-top: 15px;
  font-size: 1.4em;
  border: none;
  outline: none;
}

.arrival-info-wrapper, .departure-info-wrapper {
  margin-top: 30px;
}

.departure-info-wrapper {
  border-right: 1px solid rgb(177, 177, 177);
}

.departure-data, .departure-info-wrapper, .arrival-info-wrapper, .btns-wrapper {
  text-align: center;
}

legend {
  font: bold 1em sans-serif;
  color: #1f1818; 
  text-decoration: underline;
  margin-bottom: 10px;
}