@import url("whitespace-reset.css");

* {
  box-sizing: border-box;
}

body {
	background-color: #22659c;
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
 /* * * * * * * * * * * */
/*      grid css        */
/* * * * * * * * * * * */
main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}


/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
		width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
		width: 50%;
  }

  /* 12 columns */
  .col-12 {
  }
}

 /* * * * * * * * * * * */
/*      header          */
/* * * * * * * * * * * */
body {
  font-size: 1em;
  background-image: url("../images/plane-view-img.jpg");
  background-position: 50% 80%; 
  background-size: cover;
}

header {
  display: block;
  position: relative;
  text-align: center;
  height: 50px;
  background-color: rgba(0,0,0,0.6);
}

body header .navbar {
  display: inline-block;
  text-align: center;
  float: right;
  margin-top: 5px;
}

body header nav .ul-header {
  width: 80%;
  display: inline-block;
  float: none;
}

nav ul li {
  width: 24%;
  display: inline-block;
  text-align: center;
}

nav ul li a {
  font: normal 1.2em 'Merriweather', serif;
  color: #ffffff;
  text-decoration: none;
}

.h1-wrapper {
  display: inline-block;
  margin-right: 10%;
  text-align: center;
}

h1 {
    color: #ffffff;
    font: italic 1.8em 'Merriweather', serif;
}
/* * * * * * * * * * * * * * * * * * * */
/*      css hover effect for nav bar   */
/* * * * * * * * * * * * * * * * * * * */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: rgb(236, 236, 236);
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, 
.hvr-underline-from-left:active:before {
  right: 0;
}

.hamburger {
  outline: none;
}

.noSelect {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

/* ========================== */

 /* * * * * * * * * * * */
/*      main            */
/* * * * * * * * * * * */
 main {
  padding-top: 100px;
}


/* * * * * * * * * * * * * */
/* general Media Queries   */
/* * * * * * * * * * * * * */
@media screen and (max-width: 320px) {
  .h1-wrapper {
    float: left;
    margin-top: 3%;
    margin-left: 2%;
  }

  h1 {
    font-size: 1.3em;
  }

  .nav-bar {
    display: none;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .nav-bar {
    display: none;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .nav-bar {
    display: none;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .nav-bar {
    display: none;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  button.hamburger {
    display: none;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
  button.hamburger {
    display: none;
  }
}

@media screen and (min-width: 1601px) and (max-width: 2560px) {
  button.hamburger {
    display: none;
  }
}
/* * * * * * * * * * * * * */
/* specific Media Queries  */
/* * * * * * * * * * * * * */
