/* * * * * * * * * * * */
/*      main            */
/* * * * * * * * * * * */
 main {
  width: 60%;
  display: inline-block;
  margin: 100px auto 0 auto;
  background-color: #d7e3f0;
  border-radius: 10px;  
  padding-top: 0px;
}

.h2-wrapper {
  margin-top: 10px;
  text-align: center;
  float: none;
}

h2 {
  font: normal 2.4em 'Bree Serif', serif;
  color: #424242;
}

.trips-container {
  width: 80%;
  float: none;
  margin: auto;
  margin-bottom: 20px;
}

.trip {
  width: 100%;
  /* background: #888888; */
}

.trip-header {
  width: 100%;
  height: 65px;
  background: #F2994A;
  margin: 30px auto 0 auto;
}

body section .airports-wrapper {
  margin: auto;
  padding-bottom: 5px;
  text-align: center;
  display: inline-block
}

body section .confirmation {
  padding-left: 20px;
  display: inline-block;
  margin-top: 10px;
  /* padding-right: 90px; */
  text-align: center;
}

main .confirmation .confirmation-title, 
main .airline-wrapper .airline-title {
  font: bold 1em 'Kanit', sans-serif;
  color: #2C2A87; 
}

main .confirmation .confirmation-text, 
main .airline-wrapper .airline-text {
  font: bold 0.9em 'roboto', sans-serif;
  color: #4F4F4F; 
}

.confir-wrapper {
  text-align: center;
}

body section .data-wrapper { 
  display: inline-block;
  padding-right: 20px;
  float: none;
}

body .airports-wrapper h3 {
  display: inline-block;
  font: normal 1.7em 'Bree Serif', serif;
  color: #ffffff;
  margin-bottom: -1px;
}

h4 {
  font: normal 1em 'Bree Serif', serif; 
  /* font-size: 14px; */
  margin-top: -2px;
}

.airline-wrapper {
  text-align: center;
  margin-top: 10px;
}

.arrow-wrapper {
 text-align: right; 
 font-size: 4em;
 margin-top: -9px;
}

.fa-arrow-right {
  font-size: 1.4em;
  color: #161616;
}

.fa-caret-down, .fa-caret-up {
  color: #424242;
}

.trip-header {
  cursor: pointer;
}
/* * * * * * * * * * * * * */
/*     drop down details   */
/* * * * * * * * * * * * * */
.departure-wrapper, .arrival-wrapper {
  display: none;
}

.trip-details {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: auto;
  background: rgb(255, 255, 255);
  line-height: 100%;
  /* border-radius: 10px; */
}


.departure-wrapper {
  margin-top: 15px;
  margin-left: 20px;  
}

.arrival-wrapper {
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 17px;
}

.depart-word {
  font: bold 1.1em 'Bree Serif', serif; 
  color: #333333;
  margin-right: 5px;
}

.date-text {
  font: normal 1.1em 'roboto', sans-serif;
  color: #1862C7; 
}

.city {
  font: normal 1em 'Kanit', sans-serif;
  color: #787575;
}

.terminal-gate-wrapper {
  padding-left: 0px;
}

.terminal, .gate {
  display: inline-block;
  font: normal 1em 'Kanit', sans-serif;
  color: #000000;
}

.gate {
  float: right;
}
/* * * * * * * * * * * * * */
/*      Control Buttons    */
/* * * * * * * * * * * * * */
.control-btns {
  padding: 0px;
}

.control-btns button {
  font: normal 1em 'roboto', sans-serif;
  color: #ffffff;
  background: #F2994A;
  height: 30px;
  outline: none;
  border-top: 1px solid rgb(255, 255, 255);
}

.control-btns button:hover {
  cursor: pointer;
  background: rgb(153, 83, 21); 
}

.email-btn {
  border: none;
}

.edit-btn {
  border: none;
}

.edit-btn, .delete-btn {
  border: none;
  border-right: 1px solid #ffffff;
}

.fa-trash-o, .fa-envelope, .fa-pencil {
  margin-left: 8px;
}
/* * * * * * * * * * * * * */
/* general Media Queries   */
/* * * * * * * * * * * * * */
@media screen and (max-width: 320px) {
  body header .h1-wrapper {
    float: left;
    margin-top: 3%;
    margin-left: 2%;
  }

  body header h1 {
    font-size: 1.3em;
  }

  body header nav {
    display: none;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  body header nav {
    display: none;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  body header nav {
    display: none;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  body header nav {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body header nav {
    display: none;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  body header button.hamburger {
    display: none;
  }

  body header nav {
    display: initial;
    float: right;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
  body header button.hamburger {
    display: none;
  }
}

@media screen and (min-width: 1601px) and (max-width: 2560px) {
  body header button.hamburger {
    display: none;
  }
}
/* * * * * * * * * * * * * */
/* specific Media Queries  */
/* * * * * * * * * * * * * */