@import url("whitespace-reset.css");

* {
  box-sizing: border-box;
}

body {
	background-color: #22659c;
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
 /* * * * * * * * * * * */
/*      grid css        */
/* * * * * * * * * * * */
main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}


/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
		width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
		width: 50%;
  }

  /* 12 columns */
  .col-12 {
  }
}

 /* * * * * * * * * * * */
/*      header          */
/* * * * * * * * * * * */
body {
  font-size: 1em;
  background-image: url("../images/plane-view-img.jpg");
  background-position: 0px -200px; 
}

body header {
  display: block;
  position: relative;
  text-align: center;
  height: 50px;
  background-color: rgba(0,0,0,0.6);
}

body header nav {
  width: 50%;
  display: inline-block;
  text-align: center;
  float: right;
  margin-top: 5px;
}

body header nav .ul-header {
  width: 80%;
  display: inline-block;
  float: none;
}


body header nav ul li {
  width: 24%;
  display: inline-block;
  text-align: center;
}

body header nav ul li a {
  font: normal 1.2em 'Merriweather', serif;
  color: #ffffff;
  text-decoration: none;
}

body header .h1-wrapper {
  display: inline-block;
  margin-right: 10%;
  text-align: center;
}

body header h1 {
  color: #ffffff;
  font: italic 1.8em 'Merriweather', serif;
}
/* * * * * * * * * * * * * * * * * * * */
/*      css hover effect for nav bar   */
/* * * * * * * * * * * * * * * * * * * */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: rgb(236, 236, 236);
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, 
.hvr-underline-from-left:active:before {
  right: 0;
}

.hamburger {
  outline: none;
}

.noSelect {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

/* ========================== */

 /* * * * * * * * * * * */
/*      main            */
/* * * * * * * * * * * */
 main {
  width: 60%;
  height: 700px;
  margin: 100px auto 0 auto;
  /* background-color: #ffffff; */
  background-color: #d7e3f0;
  border-radius: 10px;  
}

.h2-wrapper {
  margin-top: 10px;
  text-align: center;
  float: none;
}

h2 {
  font: normal 2.4em 'Bree Serif', serif;
  color: #424242;
}

.trip {
  width: 80%;
  height: 78px;
  background: #F2994A;
  margin: 30px auto 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

body section .airports-wrapper {
  margin: auto;
  padding-top: 6px;
  text-align: center;
  display: inline-block
}

body section .confirmation {
  padding-left: 20px;
  display: inline-block;
  margin-top: 20px;
  /* padding-right: 90px; */
  text-align: center;
}

main .confirmation .confirmation-title, 
main .airline-wrapper .airline-title {
  font: bold 1em 'Kanit', sans-serif;
  color: #2C2A87; 
}

main .confirmation .confirmation-text, 
main .airline-wrapper .airline-text {
  font: bold 0.9em 'roboto', sans-serif;
  color: #4F4F4F; 
}

.confir-wrapper {
  text-align: center;
}

body section .data-wrapper { 
  display: inline-block;
  padding-right: 20px;
}

body .airports-wrapper h3 {
  display: inline-block;
  font: normal 1.7em 'Bree Serif', serif;
  color: #ffffff;
}

h4 {
  font: normal 1em 'Bree Serif', serif; 
  /* font-size: 14px; */
}

.airline-wrapper {
  text-align: center;
  margin-top: 20px;
}

.arrow-wrapper {
 text-align: right; 
 font-size: 4em;
 /* margin-top: -9px; */
}

.fa-arrow-right {
  font-size: 1.4em;
  color: #161616;
}

.fa-caret-down {
  color: #424242;
}
/* * * * * * * * * * * * * */
/*     drop down details   */
/* * * * * * * * * * * * * */
.trip-details {
  width: 80%;
  height: 210px;
  margin: auto;
  background: rgb(255, 255, 255);
  line-height: 100%;
  /* border-radius: 10px; */
}

.departure-wrapper {
  margin-top: 15px;
  margin-left: 17px;
}

.arrival-wrapper {
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 17px;
}

.depart-word {
  font: bold 1.3em 'Bree Serif', serif; 
  color: #333333;
  margin-right: 5px;
}

.date-text {
  font: normal 1.3em 'roboto', sans-serif;
  color: #1862C7; 
}

.city {
  font: normal 1em 'Kanit', sans-serif;
  color: #787575;
}

.terminal-gate-wrapper {
  padding-left: 0px;
}

.terminal, .gate {
  display: inline-block;
  font: normal 1em 'Kanit', sans-serif;
  color: #000000;
}

.gate {
  float: right;
}
/* * * * * * * * * * * * * */
/*      Control Buttons    */
/* * * * * * * * * * * * * */
.control-btns {
  padding: 0px;
}

.control-btns button {
  font: normal 1em 'roboto', sans-serif;
  color: #ffffff;
  background: #F2994A;
  height: 30px;
  outline: none;
}

.control-btns button:hover {
  cursor: pointer;
  background: rgb(153, 83, 21); 
}

.email-btn {
  border: none;
  border-bottom-right-radius: 10px;  
}

.edit-btn {
  border: none;
  border-bottom-left-radius: 10px;  
}

.edit-btn, .delete-btn {
  border: none;
  border-right: 1px solid #ffffff;
}

.fa-trash-o, .fa-envelope, .fa-pencil {
  margin-left: 8px;
}
/* * * * * * * * * * * * * */
/* general Media Queries   */
/* * * * * * * * * * * * * */
@media screen and (max-width: 320px) {
  body header .h1-wrapper {
    float: left;
    margin-top: 3%;
    margin-left: 2%;
  }

  body header h1 {
    font-size: 1.3em;
  }

  body header nav {
    display: none;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  body header nav {
    display: none;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  body header nav {
    display: none;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  body header nav {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body header nav {
    display: none;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  body header button.hamburger {
    display: none;
  }

  body header nav {
    display: initial;
    float: right;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
  body header button.hamburger {
    display: none;
  }
}

@media screen and (min-width: 1601px) and (max-width: 2560px) {
  body header button.hamburger {
    display: none;
  }
}
/* * * * * * * * * * * * * */
/* specific Media Queries  */
/* * * * * * * * * * * * * */