@import url("whitespace-reset.css");

header .fa-plane {
  transform: rotate(320deg);
  vertical-align: middle;
  margin-left: -10px;
}

body header .h1-wrapper {
  text-align: left;
}

body header h1 {
  margin-left: 10%;
}

header .background-wrapper {
  padding: 0px;
}

.link-for-h1 {
  text-decoration: none;
}

.header-scroll {
  background-color: #ffffff;
}

body .header-wrapper {
  display: block;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  position: initial;
  
}

body header nav {
  width: 60%;
}

body header .h1-wrapper {
  width: 40%;
}

body header nav .ul-header {
  width: 100%;
  text-align: right;
  padding-right: 10%;
}

.inner-h1-wrapper {
  width: 80%;
}

header .fa-plane {
  vertical-align: middle;
}

.container-for-header-text {
  text-align: center;
}

.header-text-wrapper {
  margin: 25% auto 0 auto;
  width: 80%;
  float: none;
}

.container-for-header-text p {
  margin-top: 15%;
  font: normal 1.2em sans-serif;
  color: #ffffff;
}

.container-for-header-text h2 {
  font: normal 2.4em 'Patua One', serif;
  color: #ffffff;
}
/* * * * * * * * * * * */
/*      modal          */
/* * * * * * * * * * * */

/* Modal (background) */

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.3);
}

.modal-content {
  position: absolute;
  left: 30%;
  /* top: -100px; */
  background-color: #ffffff;
  margin:  10% auto 0 auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 40%; 
  border-radius: 5px;
  box-shadow: 5px 10px 18px #1d1d20;
}

.modal-form input {
  width: 60%;
}

.modal .heading-wrapper {
  text-align: center;
  margin-bottom: 25px;
}

.modal h2 {
  font: normal 1.5em 'Patua One', serif;
  color: #414141;
}

.modal h4 {
  padding-top: 10px;
  font: normal 1em 'Patua One', sans-serif;
  color: rgb(73, 73, 73);
}

.modal h6 {
  padding-top: 10px;
  font: normal 1.1em 'Fire-sans', sans-serif;
  text-decoration: underline;
}

.modal h6:hover {
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #888888;
  float: right;
  font-size: 2.2em;
  font-weight: bold;
  padding: 0px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.sign-up-btn {
  background-color: #fdcc52;
  font: normal 1.2em 'Merriweather', serif;
  color: #222020;
  border: none;
  outline: none;
  width: 12%;
  display: inline-block;
  height: 48px;
  margin-top: 40px;
  border-radius: 25px;
  /* box-shadow: 6px 5px 10px #484848; */
}

 .sign-up-btn:hover {
  cursor: pointer;
  background-color: #b48b22;
} 

.sign-up-btn {
  -webkit-transition: background-color 0.7s ease-out;
  -moz-transition: background-color 0.7s ease-out;
  -o-transition: background-color 0.7s ease-out;
  -ms-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}

.arrows {
	width: 60px;
  height: 72px;
  position: absolute;
  left: 48.5%;
  bottom: 25%;
}

.arrows path {
	stroke: #F2E6C6;
	fill: transparent;
	stroke-width: 1.5px;	
}


/* * * * * * * * * * * */
/*      main            */
/* * * * * * * * * * * */
main {
  width: 90%;
  display: block;
  margin: 100px auto 0 auto;
  background-color: #d2e2f29e;
  border-radius: 5px;
  padding-top: 0px;
  padding-bottom: 20px;
}

body header {
  height: 60px;
}

.h2-wrapper {
  margin-top: 10px;
  text-align: center;
  float: none;
}

h2 {
  font: normal 2.4em 'Patua One', serif;
  color: #424242;
}

.trips-container {
  width: 90%;
  float: none;
  margin: auto;
  margin-bottom: 20px;
}

.trip {
  width: 100%;
  /* background: #888888; */
  /* height: 315px; */
}

.trip-header {
  width: 100%;
  height: 74px;
  background: #274d7a;
  margin: 30px auto 0 auto;
}

body section .airports-wrapper {
  margin: auto;
  padding-bottom: 5px;
  text-align: center;
  display: inline-block
}

body section .confirmation {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
}

main .confirmation .confirmation-title,
main .airline-wrapper .airline-title {
  font: bold 1.1em 'roboto', sans-serif;
  color: #ffffff;
}

main .confirmation .confirmation-text,
main .airline-wrapper .airline-text {
  font: bold 1em 'roboto', sans-serif;
  color: #000;
}

.confir-wrapper {
  text-align: center;
}

body section .data-wrapper {
  display: inline-block;
  padding-right: 20px;
  float: none;
}

body .airports-wrapper h3 {
  display: inline-block;
  font: normal 2em 'Patua One', serif;
  color: #ffffff;
  margin-bottom: -1px;     
  margin-top: 0px;    
}

h4 {
  font: normal 1em 'Bree Serif', serif;
  /* font-size: 14px; */
  margin: 0px;
}

.airline-wrapper {
  text-align: center;
  margin-top: 10px;
}

.arrow-wrapper {
 text-align: right;
 font-size: 4em;
 margin-top: -9px;
}

.trip-header .fa-plane {
  margin-top: 10px;
  font-size: 1.8em;
  color: #1f1d1d;
}

.fa-caret-down, .fa-caret-up {
  color: #1f1d1d;
}

.trip-header {
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url("../images/airport5.jpg");
  background-position:  60% 0%; 
  background-size: cover;
  background-repeat: no-repeat; 
}
/* * * * * * * * * * * * * */
/*     drop down details   */
/* * * * * * * * * * * * * */
.departure-wrapper, .arrival-wrapper {
  display: none;
  height: 130px;
}

.wrapper-for-arrive-info  {
  /* text-align: left; */
}

.trip-details {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: auto;
  background: rgb(243, 243, 243);
  line-height: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}


.departure-wrapper {
  text-align: center;
  margin-top: 15px;
  /* margin-left: 20px; */
}

.arrival-wrapper {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  /* margin-left: 17px; */
}

.depart-word {
  font: bold 1.1em 'Bree Serif', serif;
  color: #333333;
  margin-right: 5px;
}

.date-text {
  font: normal 1.1em 'roboto', sans-serif;
  color: #1862C7;
}

.city {
  font: normal 1.2em 'Kanit', sans-serif;
  color: #787575;
}

.terminal-gate-wrapper {
  padding-left: 0px;
}

.terminal, .gate {
  display: inline-block;
  font: normal 1em 'Kanit', sans-serif;
  color: #000000;
  margin-right: 25px;
}

/* * * * * * * * * * * */
/*      modal          */
/* * * * * * * * * * * */

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: absolute;
  left: 22.5%;
  background-color: #f5f5f5;
  margin:  5% auto 0 auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 55%; 
}

.modal-form input {
  width: 60%;
}

.modal .heading-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.modal-heading {
margin-bottom: 20px;
}

.modal h2 {
  font: normal 1.8em 'Fire-sans', sans-serif;
}

.modal .h4-wrapper {
  width: 20%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  font: normal 1.2em 'Quicksand', sans-serif;
}

::placeholder {
  margin: 0px;
  color: rgb(170, 170, 170)
}

textarea {
  resize: none
}

.modal .input-wrapper, .modal .message-wrapper {
  display: inline-block;
  width: 79%;
}

.cont-for-info, .cont-for-success-message {
  padding: 0px;
  margin-bottom: 20px;
}

.cont-for-success-message  {
  display: none;
}
.modal .input-wrapper input, textarea, .modal button {
  width: 80%;
  font: normal 1.1em 'Fire-sans', sans-serif;
  color: rgb(32, 31, 31);
  text-align: left;
  padding-left: 3px;
  margin-bottom: 1px;
  margin-right: 10%;
  border-radius: 5px;
  height: 40px;
  border: 1px solid rgb(199, 199, 199);
  outline: none;
}

#comments {
  height: 70px;
}

input:focus {
  background: #ffffff;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 15px;
}

.fa-check {
  margin-right: 5px;
}
.btn-send-wrapper {
  text-align: left;
}

.modal #send-email-btn {
  width: 12%;
  color: #ffffff;
  margin-left: 5%;
  height: 35px;
  text-align: center;
  background: rgb(40, 107, 206);
  outline: none;
  border: none;
}

.modal h6:hover {
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 0px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* * * * * * * * * * * * * */
/*      Control Buttons    */
/* * * * * * * * * * * * * */
.control-btns {
  padding: 0px;
}

.control-btns button {
  font: normal 1em 'roboto', sans-serif;
  color: #ffffff;
  background: #274d7a;
  height: 40px;
  outline: none;
  border-top: 1px solid #c4c4c4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* background-image: url("../images/airport2.jpg");
  background-size: cover;
  background-repeat: no-repeat;  */
}

.control-btns button:hover {
  cursor: pointer;
  background-color: #152841;
}

.control-btns button {
  -webkit-transition: background-color 0.7s ease-out;
  -moz-transition: background-color 0.7s ease-out;
  -o-transition: background-color 0.7s ease-out;
  -ms-transition: background-color 0.7s ease-out;
  transition: background-color 0.7s ease-out;
}

.email {
  border: none;
}

.edit-btn {
  border: none;
}

.edit-btn, .delete-btn {
  border: none;
  border-right: 1px solid #c4c4c4;
}

body .delete-btn {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

body .edit-btn {
  border-bottom-right-radius: 0px;
}

body .email {
  border-bottom-left-radius: 0px;
}

.departure-img, .arrival-img {
  width: 10%;
}

.fa-trash-o, .fa-envelope, .fa-pencil {
  margin-left: 8px;
}

.hidden{
  display:none;
}


/* * * * * * * * * * * * * */
/* general Media Queries   */
/* * * * * * * * * * * * * */

@media screen and (max-width: 320px) {
  body header nav {
    display: none;
  }

  body .edit-btn {
    border-bottom-left-radius: 0px;
  }

  .trip-header {
    background-position: 1% 1%;
  }
  
  main .confirmation .confirmation-title, 
  main .airline-wrapper .airline-title {
    font-size: 0.9em;
  }

  .departure-img, .arrival-img {
    width: 16%;
  }

  .arrival-wrapper {
    margin-top: 30px;
  }

  .city {
    font: normal 1.2em 'Kanit', sans-serif;
  }

  .date-text {
    font-size: 1em;
  }

  body section .confirmation {
    margin-bottom: 15px;  
  }

  body main .h2-wrapper {
    padding-bottom: 15px;
    padding-top: 10px;
  }

  main .confirmation .confirmation-text, 
  main .airline-wrapper .airline-text {
    font-size: 0.9em;
  }

  body .trip-header {
    height: initial;
    background-size: initial; 
  }

  body .airports-wrapper h3 {
    font-size: 2.1em;
  }

  body .email {
    border-bottom-left-radius: 3px;
  }

  .modal-content {
    position: absolute;
    left: 5%;
    background-color: #ffffff;
    margin: 10% auto 0 auto;
    border: 1px solid #888;
    width: 90%;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #1d1d20;
  }

  .modal-form input {
    width: 85%;
  }

  .sign-up-section, .sign-in-section {
    padding-bottom: 40px;
  }

  body header h1 {
    font: normal 1.9em 'Alfa Slab One', serif;
    padding: 0px;
    padding-top: 2px;
    line-height: 75px;
    margin-left: 5%;
  }

  body header .h1-wrapper {
    width: 65%;
  }

  body .header-wrapper {
    height: 84px;
    background-color: rgba(0,0,0,0.8)
  }

  body header .hamburger .hamburger-line {
    background: #006bc8;
  }

  header .fa-plane {
    display: none;
  }

  body header .h1-wrapper {
    display: inline-block;
    text-align: initial;
    position: initial; 
    height: 65px;
    z-index: 0;
  }

  header h1 {
    padding-top: 5px;
  }

  .container-for-header-text {
    margin: 55% auto 0 auto;
  }

  .container-for-header-text p {
    /* font: normal 1em sans-serif; */
    display: none;
  }

  .container-for-header-text h2 {
    font: normal 1.8em 'Patua One', serif;
  }

  .sign-up-btn { 
    width: 55%;
  }

  body main h2 {
    font-size: 2.1em;
    padding-left: 10px;
    padding-right: 10px;
  }

  main .h2-wrapper {
    padding-bottom: 55px;
  }

  .description-1, .description-2 {
    text-align: center;
    margin-top: 0px;
  }

  body main .description-header {
    font-size: 1.5em;
  }

  body .fa-clock-o, body .fa-user, body .fa-envelope, body .fa-tasks {
    display: none;
  }

  .description-img {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .description-1 p, .description-2 p {
    width: 100%;
    padding: 5px;
  }

  .illustration h3 {
    font-size: 1.3em;
  }

  .illustration-wrapper {
    margin-bottom: 60px;
  }

  .reviews-wrapper {
    width: 90%;
    margin: -150px auto 30px auto;
  }

  .illustration {
    padding-bottom: 150px;
  }

  .review span {
    left: 34%;
    top: 11%;
  }

  .fa-star-wrapper {
    left: 33%;
    top: 22%;
  }

  hr {
    width: 72%;
  }

  .sign-up-heading-wrapper h2 {
    width: 85%;
  }

  body .register {
    margin: 0 auto;
    width: 100%;
  }

  body form input {
    font: normal 1.2em "Roboto", sans-serif;
    width: 80%;
  }

  .footer .contacts ul {
    width: 60%;
  }

  .copyright {
    font-size: 0.8em;
  }

  body form button, body .go-to-login-button {
    width: 55%;
  }

  .header-placeholder {
    height: 84px;
    position: fixed;
  }

  main .row {
    margin-bottom: 70px;
  }

  .container-for-card {
    transition: none; 
  }

  .container-for-card:hover { 
    transform: none; 
  }

  .step-icon {
    width: 11%;
    height: 10%;
    /* margin-bottom: 35px; */
  }

  .illustration .box {
    width: 95%;
  }

  .modal .input-wrapper, .modal .message-wrapper {
    width: 100%;
  }

  .modal h2 {
    font-size: 1.2em;
  }

  .modal .input-wrapper input, textarea, .modal button {
    width: 100%;
  }

  .modal #send-email-btn {
    width: 25%;
    margin-left: 0%;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  body header nav {
    display: none;
  }

  .trip-header {
    background-position: 1% 1%;
  }
  
  main .confirmation .confirmation-title, 
  main .airline-wrapper .airline-title {
    font-size: 0.9em;
  }

  .departure-img, .arrival-img {
    width: 16%;
  }

  .arrival-wrapper {
    margin-top: 30px;
  }

  .city {
    font: normal 1.2em 'Kanit', sans-serif;
  }

  .date-text {
    font-size: 1em;
  }

  body section .confirmation {
    margin-bottom: 15px;  
  }

  body main .h2-wrapper {
    padding-bottom: 15px;
    padding-top: 10px;
  }

  main .confirmation .confirmation-text, 
  main .airline-wrapper .airline-text {
    font-size: 0.9em;
  }

  body .trip-header {
    height: initial;
    background-size: initial; 
  }

  body .airports-wrapper h3 {
    font-size: 2.1em;
  }

  body .email {
    border-bottom-left-radius: 3px;
  }

  .modal-content {
    position: absolute;
    left: 5%;
    background-color: #ffffff;
    margin: 10% auto 0 auto;
    border: 1px solid #888;
    width: 90%;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #1d1d20;
  }

  .modal-form input {
    width: 85%;
  }

  .sign-up-section, .sign-in-section {
    padding-bottom: 40px;
  }

  body header h1 {
    font: normal 1.9em 'Alfa Slab One', serif;
    padding: 0px;
    padding-top: 2px;
    line-height: 75px;
    margin-left: 5%;
  }

  body header .h1-wrapper {
    width: 65%;
  }

  body .header-wrapper {
    height: 84px;
    background-color: rgba(0,0,0,0.8)
  }

  body header .hamburger .hamburger-line {
    background: #006bc8;
  }

  header .fa-plane {
    display: none;
  }

  body header .h1-wrapper {
    display: inline-block;
    text-align: initial;
    position: initial; 
    height: 65px;
    z-index: 0;
  }

  header h1 {
    padding-top: 5px;
  }

  .container-for-header-text {
    margin: 55% auto 0 auto;
  }

  .container-for-header-text p {
    /* font: normal 1em sans-serif; */
    display: none;
  }

  .container-for-header-text h2 {
    font: normal 1.8em 'Patua One', serif;
  }

  .sign-up-btn { 
    width: 55%;
  }

  body main h2 {
    font-size: 2.1em;
    padding-left: 10px;
    padding-right: 10px;
  }

  main .h2-wrapper {
    padding-bottom: 55px;
  }

  .description-1, .description-2 {
    text-align: center;
    margin-top: 0px;
  }

  body main .description-header {
    font-size: 1.5em;
  }

  body .fa-clock-o, body .fa-user, body .fa-envelope, body .fa-tasks {
    display: none;
  }

  .description-img {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .description-1 p, .description-2 p {
    width: 100%;
    padding: 5px;
  }

  .illustration h3 {
    font-size: 1.3em;
  }

  .illustration-wrapper {
    margin-bottom: 60px;
  }

  .reviews-wrapper {
    width: 90%;
    margin: -150px auto 30px auto;
  }

  .illustration {
    padding-bottom: 150px;
  }

  .review span {
    left: 34%;
    top: 11%;
  }

  .fa-star-wrapper {
    left: 33%;
    top: 22%;
  }

  hr {
    width: 72%;
  }

  .sign-up-heading-wrapper h2 {
    width: 85%;
  }

  body .register {
    margin: 0 auto;
    width: 100%;
  }

  body form input {
    font: normal 1.2em "Roboto", sans-serif;
    width: 80%;
  }

  .footer .contacts ul {
    width: 60%;
  }

  .copyright {
    font-size: 0.8em;
  }

  body form button, body .go-to-login-button {
    width: 55%;
  }

  .header-placeholder {
    height: 84px;
    position: fixed;
  }

  main .row {
    margin-bottom: 70px;
  }

  .container-for-card {
    transition: none; 
  }

  .container-for-card:hover { 
    transform: none; 
  }

  .step-icon {
    width: 11%;
    height: 10%;
    /* margin-bottom: 35px; */
  }

  .illustration .box {
    width: 95%;
  }

  .modal .input-wrapper, .modal .message-wrapper {
    width: 100%;
  }

  .modal h2 {
    font-size: 1.2em;
  }

  .modal .input-wrapper input, textarea, .modal button {
    width: 100%;
  }

  .modal #send-email-btn {
    width: 25%;
    margin-left: 0%;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  body header nav {
    display: none;
  }

  .trip-header {
    background-position: 1% 1%;
  }
  
  main .confirmation .confirmation-title, 
  main .airline-wrapper .airline-title {
    font-size: 0.9em;
  }

  .departure-img, .arrival-img {
    width: 16%;
  }

  .arrival-wrapper {
    margin-top: 48px;
  }

  .modal .h4-wrapper {
    text-align: initial;
  }
  .city {
    font: normal 1.2em 'Kanit', sans-serif;
  }

  .date-text {
    font-size: 1em;
  }

  body section .confirmation {
    margin-bottom: 15px;  
  }

  body main .h2-wrapper {
    padding-bottom: 15px;
    padding-top: 10px;
  }

  main .confirmation .confirmation-text, 
  main .airline-wrapper .airline-text {
    font-size: 0.9em;
  }

  body .trip-header {
    height: initial;
    background-size: initial; 
  }

  body .airports-wrapper h3 {
    font-size: 2.1em;
  }

  body .email {
    border-bottom-left-radius: 3px;
  }

  .modal-content {
    position: absolute;
    left: 5%;
    background-color: #ffffff;
    margin: 10% auto 0 auto;
    border: 1px solid #888;
    width: 90%;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #1d1d20;
  }

  .modal-form input {
    width: 85%;
  }

  .sign-up-section, .sign-in-section {
    padding-bottom: 40px;
  }

  body header h1 {
    font: normal 1.9em 'Alfa Slab One', serif;
    padding: 0px;
    padding-top: 2px;
    line-height: 75px;
    margin-left: 5%;
  }

  body header .h1-wrapper {
    width: 65%;
  }

  body .header-wrapper {
    height: 84px;
    background-color: rgba(0,0,0,0.8)
  }

  body header .hamburger .hamburger-line {
    background: #006bc8;
  }

  header .fa-plane {
    display: none;
  }

  body header .h1-wrapper {
    display: inline-block;
    text-align: initial;
    position: initial; 
    height: 65px;
    z-index: 0;
  }

  header h1 {
    padding-top: 5px;
  }

  .container-for-header-text {
    margin: 55% auto 0 auto;
  }

  .container-for-header-text p {
    /* font: normal 1em sans-serif; */
    display: none;
  }

  .container-for-header-text h2 {
    font: normal 1.8em 'Patua One', serif;
  }

  .sign-up-btn { 
    width: 55%;
  }

  body main h2 {
    font-size: 2.1em;
    padding-left: 10px;
    padding-right: 10px;
  }

  main .h2-wrapper {
    padding-bottom: 55px;
  }

  .description-1, .description-2 {
    text-align: center;
    margin-top: 0px;
  }

  body main .description-header {
    font-size: 1.5em;
  }

  body .fa-clock-o, body .fa-user, body .fa-envelope, body .fa-tasks {
    display: none;
  }

  .description-img {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .description-1 p, .description-2 p {
    width: 100%;
    padding: 5px;
  }

  .illustration h3 {
    font-size: 1.3em;
  }

  .illustration-wrapper {
    margin-bottom: 60px;
  }

  .reviews-wrapper {
    width: 90%;
    margin: -150px auto 30px auto;
  }

  .illustration {
    padding-bottom: 150px;
  }

  .review span {
    left: 34%;
    top: 11%;
  }

  .fa-star-wrapper {
    left: 33%;
    top: 22%;
  }

  hr {
    width: 72%;
  }

  .sign-up-heading-wrapper h2 {
    width: 85%;
  }

  body .register {
    margin: 0 auto;
    width: 100%;
  }

  body form input {
    font: normal 1.2em "Roboto", sans-serif;
    width: 80%;
  }

  .footer .contacts ul {
    width: 60%;
  }

  .copyright {
    font-size: 0.8em;
  }

  body form button, body .go-to-login-button {
    width: 55%;
  }

  .header-placeholder {
    height: 84px;
    position: fixed;
  }

  main .row {
    margin-bottom: 70px;
  }

  .container-for-card {
    transition: none; 
  }

  .container-for-card:hover { 
    transform: none; 
  }

  .step-icon {
    width: 11%;
    height: 10%;
    /* margin-bottom: 35px; */
  }

  .illustration .box {
    width: 95%;
  }

  .modal .input-wrapper, .modal .message-wrapper {
    width: 100%;
  }

  .modal h2 {
    font-size: 1.2em;
  }

  .modal .input-wrapper input, textarea, .modal button {
    width: 100%;
  }

  .modal #send-email-btn {
    width: 25%;
    margin-left: 0%;
  }
}



@media screen and (min-width: 426px) and (max-width: 639px) {
  body header nav {
    display: none;
  }

  .trip-header {
    background-position: 1% 1%;
  }
  
  main .confirmation .confirmation-title, 
  main .airline-wrapper .airline-title {
    font-size: 1.1em;
  }

  .departure-img, .arrival-img {
    width: 11%;
  }

  .arrival-wrapper {
    margin-top: 48px;
  }

  .side-menu-nav {
    width: 48%;
  }

  .modal .h4-wrapper {
    text-align: initial;
  }
  .city {
    font: normal 1.2em 'Kanit', sans-serif;
  }

  .date-text {
    font-size: 1em;
  }

  body section .confirmation {
    margin-bottom: 15px;  
  }

  body main .h2-wrapper {
    padding-bottom: 15px;
    padding-top: 10px;
  }

  main .confirmation .confirmation-text, 
  main .airline-wrapper .airline-text {
    font-size: 1em;
  }

  body .trip-header {
    height: initial;
    background-size: initial; 
  }

  body .airports-wrapper h3 {
    font-size: 2.2em;
  }
  .control-btns button {
    font-size: 1.1em;
  }

  .terminal, .gate {
    font-size: 1.1em;
  }

  body .email {
    border-bottom-left-radius: 3px;
  }

  .modal-content {
    position: absolute;
    left: 5%;
    background-color: #ffffff;
    margin: 10% auto 0 auto;
    border: 1px solid #888;
    width: 90%;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #1d1d20;
  }

  .modal-form input {
    width: 85%;
  }

  .sign-up-section, .sign-in-section {
    padding-bottom: 40px;
  }

  body header h1 {
    font: normal 1.9em 'Alfa Slab One', serif;
    padding: 0px;
    padding-top: 2px;
    line-height: 75px;
    margin-left: 5%;
  }

  body header .h1-wrapper {
    width: 65%;
  }

  body .header-wrapper {
    height: 84px;
    background-color: rgba(0,0,0,0.8)
  }

  body header .hamburger .hamburger-line {
    background: #006bc8;
  }

  header .fa-plane {
    display: none;
  }

  body header .h1-wrapper {
    display: inline-block;
    text-align: initial;
    position: initial; 
    height: 65px;
    z-index: 0;
  }

  header h1 {
    padding-top: 5px;
  }

  .container-for-header-text {
    margin: 55% auto 0 auto;
  }

  .container-for-header-text p {
    /* font: normal 1em sans-serif; */
    display: none;
  }

  .container-for-header-text h2 {
    font: normal 1.8em 'Patua One', serif;
  }

  .sign-up-btn { 
    width: 55%;
  }

  body main h2 {
    font-size: 2.1em;
    padding-left: 10px;
    padding-right: 10px;
  }

  main .h2-wrapper {
    padding-bottom: 55px;
  }

  .description-1, .description-2 {
    text-align: center;
    margin-top: 0px;
  }

  body main .description-header {
    font-size: 1.5em;
  }

  body .fa-clock-o, body .fa-user, body .fa-envelope, body .fa-tasks {
    display: none;
  }

  .description-img {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .description-1 p, .description-2 p {
    width: 100%;
    padding: 5px;
  }

  .illustration h3 {
    font-size: 1.3em;
  }

  .illustration-wrapper {
    margin-bottom: 60px;
  }

  .reviews-wrapper {
    width: 90%;
    margin: -150px auto 30px auto;
  }

  .illustration {
    padding-bottom: 150px;
  }

  .review span {
    left: 34%;
    top: 11%;
  }

  .fa-star-wrapper {
    left: 33%;
    top: 22%;
  }

  hr {
    width: 72%;
  }

  .sign-up-heading-wrapper h2 {
    width: 85%;
  }

  body .register {
    margin: 0 auto;
    width: 100%;
  }

  body form input {
    font: normal 1.2em "Roboto", sans-serif;
    width: 80%;
  }

  .footer .contacts ul {
    width: 60%;
  }

  .copyright {
    font-size: 0.8em;
  }

  body form button, body .go-to-login-button {
    width: 55%;
  }

  .header-placeholder {
    height: 84px;
    position: fixed;
  }

  main .row {
    margin-bottom: 70px;
  }

  .container-for-card {
    transition: none; 
  }

  .container-for-card:hover { 
    transform: none; 
  }

  .step-icon {
    width: 11%;
    height: 10%;
    /* margin-bottom: 35px; */
  }

  .illustration .box {
    width: 95%;
  }

  .modal .input-wrapper, .modal .message-wrapper {
    width: 100%;
  }

  .modal h2 {
    font-size: 1.2em;
  }

  .modal .input-wrapper input, textarea, .modal button {
    width: 100%;
  }

  .modal #send-email-btn {
    width: 25%;
    margin-left: 0%;
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  body header nav {
    display: none;
  }

  .trip-header {
    background-position: 1% 1%;
  }
  
  main .confirmation .confirmation-title, 
  main .airline-wrapper .airline-title {
    font-size: 0.9em;
  }

  .departure-img, .arrival-img {
    width: 11%;
  }

  .side-menu-nav {
    width: 48%;
  }

  .modal .h4-wrapper {
    text-align: initial;
  }
  .city {
    font: normal 1.1em 'Kanit', sans-serif;
  }

  .date-text {
    font-size: 0.9em;
  }

  body section .confirmation {
    margin-bottom: 15px;  
    padding-left: 25px;
  }

  body main .h2-wrapper {
    padding-bottom: 15px;
    padding-top: 10px;
  }

  main .confirmation .confirmation-text, 
  main .airline-wrapper .airline-text {
    font-size: 0.8em;
  }

  body .trip-header {
    margin-top: 0%;
    height: initial;
    background-size: initial; 
  }

  body .airports-wrapper h3 {
    font-size: 2em;
  }

  .control-btns button {
    font-size: 1em;
    border-top: none;
  }

  h4 {
    font-size: 0.8em;
  }

  .terminal, .gate {
    font-size: 1em;
  }

  body .email {
    border-bottom-left-radius: 3px;
  }

  .confir-wrapper {
    text-align: center;
  }

  .modal-content {
    position: absolute;
    left: 5%;
    background-color: #ffffff;
    margin: 10% auto 0 auto;
    border: 1px solid #888;
    width: 90%;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #1d1d20;
  }

  .modal-form input {
    width: 85%;
  }

  .sign-up-section, .sign-in-section {
    padding-bottom: 40px;
  }

  body header h1 {
    font: normal 1.9em 'Alfa Slab One', serif;
    padding: 0px;
    padding-top: 2px;
    line-height: 75px;
    margin-left: 5%;
  }

  body header .h1-wrapper {
    width: 65%;
  }

  body .header-wrapper {
    height: 84px;
    background-color: rgba(0,0,0,0.8)
  }

  body header .hamburger .hamburger-line {
    background: #006bc8;
  }

  header .fa-plane {
    display: none;
  }

  body header .h1-wrapper {
    display: inline-block;
    text-align: initial;
    position: initial; 
    height: 65px;
    z-index: 0;
  }

  header h1 {
    padding-top: 5px;
  }

  .container-for-header-text {
    margin: 55% auto 0 auto;
  }

  .container-for-header-text p {
    /* font: normal 1em sans-serif; */
    display: none;
  }

  .container-for-header-text h2 {
    font: normal 1.8em 'Patua One', serif;
  }

  .sign-up-btn { 
    width: 55%;
  }

  body main h2 {
    font-size: 2.1em;
    padding-left: 10px;
    padding-right: 10px;
  }

  main .h2-wrapper {
    padding-bottom: 55px;
  }

  .description-1, .description-2 {
    text-align: center;
    margin-top: 0px;
  }

  body main .description-header {
    font-size: 1.5em;
  }

  body .fa-clock-o, body .fa-user, body .fa-envelope, body .fa-tasks {
    display: none;
  }

  .description-img {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .description-1 p, .description-2 p {
    width: 100%;
    padding: 5px;
  }

  .illustration h3 {
    font-size: 1.3em;
  }

  .illustration-wrapper {
    margin-bottom: 60px;
  }

  .reviews-wrapper {
    width: 90%;
    margin: -150px auto 30px auto;
  }

  .illustration {
    padding-bottom: 150px;
  }

  .review span {
    left: 34%;
    top: 11%;
  }

  .fa-star-wrapper {
    left: 33%;
    top: 22%;
  }

  hr {
    width: 72%;
  }

  .sign-up-heading-wrapper h2 {
    width: 85%;
  }

  body .register {
    margin: 0 auto;
    width: 100%;
  }

  body form input {
    font: normal 1.2em "Roboto", sans-serif;
    width: 80%;
  }

  .footer .contacts ul {
    width: 60%;
  }

  .copyright {
    font-size: 0.8em;
  }

  body form button, body .go-to-login-button {
    width: 55%;
  }

  .header-placeholder {
    height: 84px;
    position: fixed;
  }

  main .row {
    margin-bottom: 70px;
  }

  .container-for-card {
    transition: none; 
  }

  .container-for-card:hover { 
    transform: none; 
  }

  .step-icon {
    width: 11%;
    height: 10%;
    /* margin-bottom: 35px; */
  }

  .illustration .box {
    width: 95%;
  }

  .modal .input-wrapper, .modal .message-wrapper {
    width: 100%;
  }

  .modal h2 {
    font-size: 1.2em;
  }

  .modal .input-wrapper input, textarea, .modal button {
    width: 100%;
  }

  .modal #send-email-btn {
    width: 25%;
    margin-left: 0%;
  }

  .departure-wrapper, .arrival-wrapper {
    height: initial;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body header nav {
    display: none;
  }

  .trip-header {
    background-position: 1% 1%;
  }
  
  main .confirmation .confirmation-title, 
  main .airline-wrapper .airline-title {
    font-size: 0.9em;
  }

  .departure-img, .arrival-img {
    width: 11%;
  }

  .side-menu-nav {
    width: 48%;
  }

  .modal .h4-wrapper {
    padding-right: 5px;
  }

  .city {
    font: normal 1.1em 'Kanit', sans-serif;
  }

  .date-text {
    font-size: 0.9em;
  }

  body section .confirmation {
    margin-bottom: 15px; 
    padding-left: 25px 
  }

  body main .h2-wrapper {
    padding-bottom: 15px;
    padding-top: 10px;
  }

  main .confirmation .confirmation-text, 
  main .airline-wrapper .airline-text {
    font-size: 0.8em;
  }

  body .trip-header {
    margin-top: 0%;
    height: initial;
    background-size: initial; 
  }

  body .airports-wrapper h3 {
    font-size: 2em;
  }
  .control-btns button {
    /* font-size: 1em; */
    border-top: none;
  }

  h4 {
    font-size: 1em;
  }

  .terminal, .gate {
    font-size: 1em;
  }

  body .email {
    border-bottom-left-radius: 3px;
  }

  .departure-wrapper, .arrival-wrapper {
    height: initial;
  }

  .confir-wrapper {
    text-align: center;
  }

  .modal-content {
    position: absolute;
    left: 5%;
    background-color: #ffffff;
    margin: 10% auto 0 auto;
    border: 1px solid #888;
    width: 90%;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #1d1d20;
  }

  .modal-form input {
    width: 85%;
  }

  .sign-up-section, .sign-in-section {
    padding-bottom: 40px;
  }

  body header h1 {
    font: normal 1.9em 'Alfa Slab One', serif;
    padding: 0px;
    padding-top: 2px;
    line-height: 75px;
    margin-left: 5%;
  }

  body header .h1-wrapper {
    width: 65%;
  }

  body .header-wrapper {
    height: 84px;
    background-color: rgba(0,0,0,0.8)
  }

  body header .hamburger .hamburger-line {
    background: #006bc8;
  }

  header .fa-plane {
    display: none;
  }

  body header .h1-wrapper {
    display: inline-block;
    text-align: initial;
    position: initial; 
    height: 65px;
    z-index: 0;
  }

  header h1 {
    padding-top: 5px;
  }

  .container-for-header-text {
    margin: 55% auto 0 auto;
  }

  .container-for-header-text p {
    /* font: normal 1em sans-serif; */
    display: none;
  }

  .container-for-header-text h2 {
    font: normal 1.8em 'Patua One', serif;
  }

  .sign-up-btn { 
    width: 55%;
  }

  body main h2 {
    font-size: 2.1em;
    padding-left: 10px;
    padding-right: 10px;
  }

  main .h2-wrapper {
    padding-bottom: 55px;
  }

  .description-1, .description-2 {
    text-align: center;
    margin-top: 0px;
  }

  body main .description-header {
    font-size: 1.5em;
  }

  body .fa-clock-o, body .fa-user, body .fa-envelope, body .fa-tasks {
    display: none;
  }

  .description-img {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .description-1 p, .description-2 p {
    width: 100%;
    padding: 5px;
  }

  .illustration h3 {
    font-size: 1.3em;
  }

  .illustration-wrapper {
    margin-bottom: 60px;
  }

  .reviews-wrapper {
    width: 90%;
    margin: -150px auto 30px auto;
  }

  .illustration {
    padding-bottom: 150px;
  }

  .review span {
    left: 34%;
    top: 11%;
  }

  .fa-star-wrapper {
    left: 33%;
    top: 22%;
  }

  hr {
    width: 72%;
  }

  .sign-up-heading-wrapper h2 {
    width: 85%;
  }

  body .register {
    margin: 0 auto;
    width: 100%;
  }

  body form input {
    font: normal 1.2em "Roboto", sans-serif;
    width: 80%;
  }

  .footer .contacts ul {
    width: 60%;
  }

  .copyright {
    font-size: 0.8em;
  }

  body form button, body .go-to-login-button {
    width: 55%;
  }

  .header-placeholder {
    height: 84px;
    position: fixed;
  }

  main .row {
    margin-bottom: 70px;
  }

  .container-for-card {
    transition: none; 
  }

  .container-for-card:hover { 
    transform: none; 
  }

  .step-icon {
    width: 11%;
    height: 10%;
    /* margin-bottom: 35px; */
  }

  .illustration .box {
    width: 95%;
  }

  .modal .input-wrapper, .modal .message-wrapper {
    width: 60%;
  }

  .modal h2 {
    font-size: 1.2em;
  }

  .modal .input-wrapper input, textarea, .modal button {
    width: 100%;
  }

  .modal #send-email-btn {
    width: 25%;
    margin-left: 0%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .nav-bar {
    display: initial;
  }

  .control-btns button {
    border-top: none;
  }

  body header {
   background-color: rgba(0,0,0,0.6);
  }

  body .trip-header {
    background-position: 1% 1%;
    background-size: initial;
  }

  body header .hamburger {
    display: none;
  }

  .sign-up-btn {
    width: 15%;
  }

  .about-section {
    padding-bottom: 55px;
  }

  .cards {
    padding-bottom: 114px;
  }

  .fa-star-wrapper {
    position: absolute;
    left: 15%;
  }

  .review span {
    position: absolute;
    left: 15%;
  }

  .reviews-wrapper {
    margin: -90px auto 40px auto;
  }

  hr {
    width: 23%;
  }

  body form input {
    width: 77%;
  }

  body form button, body .go-to-login-button {
    width: 35%;
  }

  .about-img {
    width: 83%;
  }

  .modal h4 {
    padding-right: 5px;
  }

  .modal #send-email-btn {
    width: 16%;
    margin-left: 0%;
  }

  body {
    background-position: 55% 1%;
    background-size: cover;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
  .nav-bar {
    display: initial;
  }

  .control-btns button {
    border-top: none;
  }

  body header {
    background-color: rgba(0,0,0,0.6);
  }

  body header .hamburger {
    display: none;
  }

  .nav-bar {
    display: initial;
  }

  body .trip-header {
    background-position: 1% 1%;
    background-size: initial;
  }

  body header .hamburger {
    display: none;
  }

  .sign-up-btn {
    width: 15%;
  }

  .about-section {
    padding-bottom: 55px;
  }

  .cards {
    padding-bottom: 114px;
  }

  .fa-star-wrapper {
    position: absolute;
    left: 15%;
  }

  .review span {
    position: absolute;
    left: 15%;
  }

  .reviews-wrapper {
    margin: -90px auto 40px auto;
  }

  hr {
    width: 23%;
  }

  body form input {
    width: 77%;
  }

  body form button, body .go-to-login-button {
    width: 35%;
  }

  .about-img {
    width: 83%;
  }

  .modal h4 {
    padding-right: 5px;
  }

  .modal #send-email-btn {
    width: 16%;
    margin-left: 0%;
  }

  body {
    background-position: 64% 0%;
    background-size: cover;
  }
}

@media screen and (min-width: 1601px) and (max-width: 2560px) {
  .nav-bar {
    display: initial;
  }

  .about-img {
    width: 50%;
  }

  body header .hamburger {
    display: none;
  }

  body header {
    background-image: url(../images/airport6.jpg);
    background-position: 85% 80%;
    background-size: 120%;
    height: 700px;
  }

  .sign-up-btn {
    width: 15%;
  }

  .about-section {
    padding-bottom: 55px;
  }

  .cards {
    padding-bottom: 125px;
  }

  .fa-star-wrapper {
    position: absolute;
    left: 15%;
  }

  .review span {
    position: absolute;
    left: 15%;
  }

  .reviews-wrapper {
    margin: -90px auto 40px auto;
  }

  hr {
    width: 23%;
  }

  body form input {
    width: 77%;
  }

  body form button, body .go-to-login-button {
    width: 35%;
  }

  .header-text-wrapper {
    margin: 18% auto 0 auto;
  }
}
